/* .itemlistContainer{
    margin-top: 15px;
   
    display: flex!important;
    flex-direction: row!important;
} */
/* .divMain{
    
    display: flex;
    background-color: #fefeff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2308d0e8' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
} */
 .divListContainerMain{
    background: url("../imgBanners/dark.jpg");
}  


*{
    scroll-behavior: smooth;
}
